/*///////////////////////////////////////////*/
/*					BODY 					 */
html, body{
	margin: 0;
	padding: 0;
}
body{
	width:100%;
}
/*				  FIN BODY 					 */
/*///////////////////////////////////////////*/

/*///////////////////////////////////////////*/
/*				CONNEXION-INSCRIPTION 		 */
.connexionFond{
	background-color: #B3C8C6;
	width:100%;
	height:300px;
	text-align: center;
}

.connexionForm{
	position : absolute;
	margin-top : 100px;
	margin-left : 38%;
}

.inscriptionFond{
	background-color: #B3C8C6;
	width:100%;
	height : 500px;
}

.inscriptionForm{
	margin-top :65px;
	margin-left : 38%;
	width:100%;
}
/*				FIN CONNEXION				 */
/*///////////////////////////////////////////*/

/*///////////////////////////////////////////*/
/*					PROFILS					 */
.FonddemandeurProfil{
	background-color: #B3C8C6;
	width:100%;
	height:500px;
	margin-top : 66px;
	text-align: center;
}

.FormdemandeurProfil{
	position : absolute;
	margin-top : 100px;
	margin-left : 38%;
}
/*				FIN PROFILS					 */
/*///////////////////////////////////////////*/

/*///////////////////////////////////////////*/
/*				BANNIERE			   		 */
/*			Bande De Navigation				 */
.menu{		/*Barre de navigation*/
	background: black;
	width: 100%;
	height: 66px;
	line-height: 66px;
	top:0;
	z-index: 1; 
}

.m-left{	/*Place à gauche "SITE WEB"*/
	float: left;
}
.m-right{	/*Place à droite les onglets de navigations*/ 
	float: right;
}

.logo{		/*Mise en forme de "SITE WEB"*/
	margin: 0;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-family: 'roboto';
	font-weight: 900;
	font-size: 35px;
	letter-spacing: 1px;
}

.m-link{	/*Mise en forme des onglets de navigations*/
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0;
	margin: 0 15px;
}

.m-link:hover{	/*Mise en forme du lien hypertexte*/
	border-top: 2px solid transparent;
	border-color: #fff;
}

img {	/*Mise en forme du bouton de deconnexion (image)*/
	margin-bottom : 7px;
	width : 30px;
	z-index : 91;
	cursor : pointer;
}

/*			Fin Bande de Navigation			 */

/*				FIN BANNIERE				 */
/*///////////////////////////////////////////*/

/*///////////////////////////////////////////*/
/*				   PAGE INDEX				 */
.accueil_profil{
	background-color: #B3C8C6;
	width:100%;
	height:320px;
	text-align: center;
}

.accueil_frais{
	width:100%;
	height:320px;
	text-align: center;
} 

.accueil_listefrais{
	background-color: #A6AFAE;
	width:100%;
	height:320px;
	text-align: center;
}

.accueil_avalider{
	background-color: #D5BF9E;
	width:50%;
	height:600px;
	float: left;
	text-align: center;
}

.accueil_fraisvalide{
	background-color: #6F6F6F;
	width:50%;
	height:600px;
	float: right;
	text-align: center;
}
.btn_index{
	border:none;
	padding:6px;
	border-radius:2px;
	box-shadow:1px 1px 3px #aaa;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
}
/*				   FIN INDEX				 */
/*///////////////////////////////////////////*/

/*///////////////////////////////////////////*/
/*					FRAIS 					 */
.formulaire{ /*Mise en forme du formulaire*/
	position: center;
}
.case{
	background-color: #94DB70;
	border-radius: 3px;
	border:none;
	margin:10px;
	padding:6px;
}
.separateur{
	text-align: left;
}
.form{
	margin:0 auto;
}

.btnvalid{
	border-radius: 50px;
	background-color: #A50000;
	border:none;
	padding: 10px;
	color: #fff;
}

/*				   FIN FRAIS				 */
/*///////////////////////////////////////////*/

/*///////////////////////////////////////////*/
/*					FOOTER 					 */
footer{ /*Mise en forme footer*/
	background-color: black;
	width:100%;
	padding-top:50px;
	height:50px;
}

.footext{	/*Mise en forme du texte*/
	margin-top:-30px;
	color: #fff;
	font-weight: 700;
	text-align: center;
}
/*				   FIN FOOTER				 */
/*///////////////////////////////////////////*/
